*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.c8 input{
    width: 50%;
}
.nav-link{
    color: black !important;
}
.btn {
    color: black !important;
    background-color:lightgreen !important;
    border: 2px solid black !important;
}
.row>*{
flex-shrink: 0;
width: 95%;
max-width: 100%;
padding-right: calc(var(--bs-gutter-x) * .5);
padding-left: calc(var(--bs-gutter-x) * .5);
margin-top: var(--bs-gutter-y);
}